{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "semi": ["error", "always"]
  }
}
